<!-- <div *ngIf="auth.user$ | async as user; else showLogin">

    <h1>Hello {{ user.displayName }}!</h1>
    <pre>
     
      {{user|json }}

    </pre>
    <button (click)="auth.logout()">Logout</button>
</div>
<ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="auth.googleSingIn()">Login with Google</button>
    
</ng-template> -->
<p-toast [style]="{marginTop: '10px'}"></p-toast>
<main class="row">
    <section class="col-sm-12">
        <router-outlet></router-outlet>
    </section>
</main>