<main class="row">
    <section class="col-sm-12">
        <div class="alingment">
            <img src='{{loggedUser?.photoUrl}}' class="imgIcon">
            <h5>{{loggedUser?.displayName}}</h5>
        </div>
        <br>
        <br>
        <br>
        <a [routerLink]="['/landing/printers']">printers</a>
        <br>
        <a [routerLink]="['/landing/filaments']">filaments</a>
        <br>

        <a [routerLink]="['/landing/sales']">sales</a>
        <br>

        <a [routerLink]="['/landing/catalogue']">product catalogue</a>
        <br>

        <br>
        <br> <br>
        <br>


        <button pButton type="button" label="Logout" class="ui-button-secondary" (click)="auth.logout()"></button>



        <!-- {{auth.user$.displayName| async}} -->
    </section>
</main>