<main class="row">
    <section class="col-sm-12">
        <div class="alingment">
            <img src='{{loggedUser?.photoUrl}}' class="imgIcon">
            <h5>{{loggedUser?.displayName}}</h5>
        </div>
        <br>
        <br>
        <br>
        <a (click)="navigate('printers')">printers</a>
        <br>
        <a (click)="navigate('filaments')">filaments</a>
        <br>

        <a (click)="navigate('mysales')">sales</a>
        <br>
        <a (click)="navigate('catalogue')">product catalogue</a>
        <br>

        <br>
        <br> <br>
        <br>
        <button pButton type="button" label="Logout" class="ui-button-secondary" (click)="auth.logout()"></button>
        <!-- {{auth.user$.displayName| async}} -->
    </section>
</main>