/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    background-color: rgb(245, 245, 245);
}

.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
}

label {
    font-weight: 500;
}

.labelFormat {
    position: absolute;
    margin-top: -20px;
    font-size: 14px;
}

.pad10 {
    padding: 10px;
}

.addButtonArea {
    position: fixed;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
    right: 0;
    left: 0;
}

.addButton {
    color: white;
    background-color: tomato;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    content: "+";
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
}

.addButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.inputWidth {
    width: 40px;
}

.fullWidth {
    width: 100%;
}

.mt30 {
    margin-top: 30px;
}

.normalButton {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 5px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    border: none;
}

.normalButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}